@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SweetAlert2 Custom Styles */
.swal2-container-custom {
    padding: 1rem;
  }
  /* 87% yapar ama 550'yi aşmaz */
  .swal2-popup-custom {
    width: 80% !important;
    max-width: 550px !important;
  }